<ion-view view-title="myBeers">
	<ion-header-bar>
		<h1 class="title">myBeer</h1>
	</ion-header-bar>
	
  <ion-content>
  	<h2 class="padding">Find Your Perfect Beer</h2>
    <form>
      <div class="list">
        <label class="item item-input">
        	<span class="input-label">Beer Name</span>
          <input type="text" placeholder="Beer Name" ng-model="form.beerName">
        </label>
        <label class="item item-input">
			<div class="input-label">
			  Year
			</div>
		    <input type="text" placeholder="Year Beer was made" ng-model="form.year">
        </label>
        <div class="item row">
	        <div class="label col padding">
				  ABV
			</div>
			<label class="toggle toggle-positive col-80">
			   <input type="checkbox" ng-model="form.abvToggle">
			   <div class="track">
			     <div class="handle"></div>
			   </div>
			</label>
		</div>
		<div class="item range" ng-show="form.abvToggle">
			<i class="icon ion-ios-minus-outline"></i>
			<input type="range" name="ABV" min="0" max="15" ng-model="form.abvVal">
			<i class="icon ion-ios-plus-outline"></i>
			<div>{{form.abvVal}}</div>
		</div>
		<div class="item row">
	        <div class="label col padding">
				  IBU
			</div>
			<label class="toggle toggle-positive col-80">
			   <input type="checkbox" ng-model="form.ibuToggle">
			   <div class="track">
			     <div class="handle"></div>
			   </div>
			</label>
		</div>
		<div class="item range" ng-show="form.ibuToggle">
			<i class="icon ion-ios-minus-outline"></i>
			<input type="range" name="ABV" min="5" max="30" value="15" ng-model="form.ibuVal">
			<i class="icon ion-ios-plus-outline"></i>
			<div>{{form.ibuVal}}</div>
		</div>
		<ion-list>
			<div class="item item-divider padding">Organic?</div>
			<ion-radio ng-model="form.isOrganic" value="Y">Yes</ion-radio>
			<ion-radio ng-model="form.isOrganic" value="N">No</ion-radio>
		</ion-list>
      </div>
    </form>
  </ion-content>
  <div class="bar bar-footer bar-positive" ng-click="search()">
		<div class="title">Search</div>
	</div>
</ion-view>
